<span class="cursor" [style.transform]="position" [ngClass]="{ 'cursor--hidden': hidden, 'cursor--mobile': mobile, 'cursor--move': move, 'cursor--active': active, 'cursor--horizontal': horizontal, 'cursor--responsive': responsive }">
  <span class="cursor__main">360°</span>
  <mat-icon svgIcon="arrow" class="cursor__arrow"></mat-icon>
  <mat-icon svgIcon="arrow" class="cursor__arrow"></mat-icon>
  <mat-icon svgIcon="arrow" class="cursor__arrow"></mat-icon>
  <mat-icon svgIcon="arrow" class="cursor__arrow"></mat-icon>
</span>
