:root {
  --primary-color: 0, 93, 168; // #005da8
  --primary-alt-color: 46, 188, 254; // #2ebcfe
  --text-color: 72, 72, 72; // #484848
  --border-color: 228, 228, 228; // #e4e4e4
  --black-color: 0, 0, 0; // #000000
  --white-color: 255, 255, 255; // #ffffff
  --cursor-horizontal-bottom: 100px;
  --border-radius: 8px;
  --transition: 0.25s linear;
}

.web-type--mototechna {
  --primary-color: 0, 145, 133; // #009185
  --primary-alt-color: 0, 204, 187; // #00ccbb
  --text-color: 166, 165, 163; // #a6a5a3
  --border-color: 42, 42, 42; // #2a2a2a
  --cursor-horizontal-bottom: 254px;
}